vendor/
var/cache
var/logs
composer.lock
phpunit.xml
.php-cs-fixer.cache
.php-cs-fixer.php
.phpunit.result.cache
composer.phar
package.tar
/packages.json
/.phpunit

###> qossmic/deptrac-shim ###
/.deptrac.cache
###< qossmic/deptrac-shim ###
